@media (max-width: 768px){

    header img {
        width: 50px;
        height: 50px;
    }
    .story{
        border-radius: 50%;
        width: 85px;
        height: 85px;
        overflow: hidden;
        border: solid #20b18b
    }
}