@media (max-width: 768px){

    #btn-start {
        background-color: #20B18Bff;
        cursor: pointer;
        width: 200px;
    }
    #titre{
        font-size: 60px;
        font-family: cursive;
    }


}